.container-main-container{
    display: flex;
    justify-content: center;
}

.sorting-region{
    width: 200px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 5px;
    border: 1px solid grey;
}

.sorting-region h3{
    color: #003399;
    font-size: 17.36px;
}

.sorting-region li{
    list-style: none;
    color: #11588F;
    padding: 5px;
    font-size: 15px;
}

#productRegion-Card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;
    margin-left: 12px;
}

#productRegion-Card div{
    width: 205.05px;
}

#productRegion-Card img{
    width: 205.05px;
    height: 205.05px;
}

#productRegion-Card h4{
    margin-top: 4px;
    height: 36px;
}

#productRegion-Card button{
    padding: 8px 20px;
    background-color: #3187c9;
    color: white;
    border-radius: 8px;
}

#productRegion-Card p{
    margin-bottom: 6px;
    margin-top: 6px;
}

.advCard{
    display: flex;
    margin-left: 40px;
    background-color: #f6f6f6;
    width: 700px;
}

.advCard img{
    width: 205px;
    height: 164.44px;
}

.advCard div+div{
    margin-left: 40px;
}

.sideOffers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideCard{
    margin: 8px;
}

.sideCard img{
    width: 261px;
    height: 208px;
}

.sideCard div+p{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 6px;
}

.sideCard p+p{
    margin-top: 4px;
}